@media screen and (max-width: 2300px) {
  .sic .slider-item{
    margin: 0 12px;
    min-width: 415px;
    min-height: 290px;
  }
  .slider-container{
    height: 290px;
  }
}
@media screen and (max-width: 2100px) {
  .sic .slider-item{
    margin: 0 12px;
    min-width: 380px;
    min-height: 280px;
  }
  .slider-container{
    height: 280px;
  }
}
@media screen and (max-width: 1950px) {
  .sic .slider-item{
    margin: 0 12px;
    min-width: 350px;
    min-height: 250px;
  }
  .slider-container{
    height: 250px;
  }
  .slider-pagination{
    margin-left: 2.5rem;
  }
}
@media screen and (max-width: 1900px) {
  .sic .slider-item{
    margin: 0 12px;
    min-width: 330px;
    min-height: 240px;
  }
  .slider-container{
    height: 240px;
  }
  .small-app .sic .slider-item{
    margin: 0 5px;
    min-width: 300px;
    min-height: 230px;
  }
  .small-app .slider-container{
    height: 230px;
  }
  .videos-content{
    grid-template-columns: repeat(auto-fill, 275px);
  }
  .videos-content .video-container{
    width: 275px;
  }
  .video-container .bg-image{
    height: 200px;
  }
  .small-app .videos-content{
    grid-template-columns: repeat(auto-fill, 240px);
  }
  .small-app .videos-content .video-container{
    width: 240px;
  }
  .small-app .video-container .bg-image{
    height: 175px;
  }
}
@media screen and (max-width: 1850px) {
  .videos-content{
    grid-template-columns: repeat(auto-fill, 265px);
  }
  .videos-content .video-container{
    width: 265px;
  }
  .video-container .bg-image{
    height: 195px;
  }
  .small-app .videos-content{
    grid-template-columns: repeat(auto-fill, 230px);
  }
  .small-app .videos-content .video-container{
    width: 230px;
  }
  .small-app .video-container .bg-image{
    height: 165px;
  }
}
@media screen and (max-width: 1800px) {
  .sic .slider-item{
    min-width: 320px;
    min-height: 240px;
    margin: 0 10px;
  }
  .slider-container{
    height: 240px;
  }
  .small-app .sic .slider-item{
    margin: 0 5px;
    min-width: 285px;
    min-height: 215px;
  }
  .small-app .slider-container{
    height: 220px;
  }
  .videos-content{
    grid-template-columns: repeat(auto-fill, 260px);
  }
  .videos-content .video-container{
    width: 260px;
  }
  .video-container .bg-image{
    height: 190px;
  }
  .small-app .videos-content{
    grid-template-columns: repeat(auto-fill, 220px);
  }
  .small-app .videos-content .video-container{
    width: 220px;
  }
  .small-app .video-container .bg-image{
    height: 160px;
  }
}
@media screen and (max-width: 1750px) {
  .sic .slider-item{
    margin: 0 10px;
    min-width: 310px;
    min-height: 230px;
  }
  .slider-container{
    height: 230px;
  }
  .small-app .sic .slider-item{
    margin: 0 5px;
    min-width: 270px;
    min-height: 205px;
  }
  .small-app .slider-container{
    height: 205px;
  }
  .videos-content{
    grid-template-columns: repeat(auto-fill, 250px);
  }
  .videos-content .video-container{
    width: 250px;
  }
  .video-container .bg-image{
    height: 180px;
  }
  .small-app .videos-content{
    grid-template-columns: repeat(auto-fill, 270px);
  }
  .small-app .videos-content .video-container{
    width: 270px;
  }
  .small-app .video-container .bg-image{
    height: 185px;
  }
}
@media screen and (max-width: 1700px) {
  .sic .slider-item{
    margin: 0 7px;
    min-width: 300px;
    min-height: 220px;
  }
  .slider-container{
    height: 220px;
  }
  .small-app .sic .slider-item{
    margin: 0 5px;
    min-width: 260px;
    min-height: 200px;
  }
  .small-app .slider-container{
    height: 200px;
  }
  .videos-content{
    grid-template-columns: repeat(auto-fill, 240px);
  }
  .videos-content .video-container{
    width: 240px;
  }
  .video-container .bg-image{
    height: 170px;
  }
  .small-app .videos-content{
    grid-template-columns: repeat(auto-fill, 260px);
  }
  .small-app .videos-content .video-container{
    width: 260px;
  }
  .small-app .video-container .bg-image{
    height: 175px;
  }
}
@media screen and (max-width: 1650px) {
  .sic .slider-item{
    margin: 0 10px;
    min-width: 290px;
    min-height: 220px;
  }
  .slider-container{
    height: 220px;
  }
  .small-app .sic .slider-item{
    margin: 0 5px;
    min-width: 250px;
    min-height: 195px;
  }
  .small-app .slider-container{
    height: 195px;
  }
  .videos-content{
    grid-template-columns: repeat(auto-fill, 230px);
  }
  .videos-content .video-container{
    width: 230px;
  }
  .video-container .bg-image{
    height: 160px;
  }
  .small-app .videos-content{
    grid-template-columns: repeat(auto-fill, 245px);
  }
  .small-app .videos-content .video-container{
    width: 245px;
  }
  .small-app .video-container .bg-image{
    height: 165px;
  }
}
@media screen and (max-width: 1600px) {
  .sic .slider-item{
    margin: 0 5px;
    min-width: 280px;
    min-height: 210px;
  }
  .slider-container{
    height: 210px;
  }
  .small-app .sic .slider-item{
    margin: 0 5px;
    min-width: 235px;
    min-height: 190px;
  }
  .small-app .slider-container{
    height: 190px;
  }
  .videos-content{
    grid-template-columns: repeat(auto-fill, 220px);
  }
  .videos-content .video-container{
    width: 220px;
  }
  .video-container .bg-image{
    height: 150px;
  }
  .small-app .videos-content{
    grid-template-columns: repeat(auto-fill, 235px);
  }
  .small-app .videos-content .video-container{
    width: 235px;
  }
  .small-app .video-container .bg-image{
    height: 160px;
  }
}
@media screen and (max-width: 1550px) {
  .sic .slider-item{
    margin: 0 10px;
    min-width: 260px;
    min-height: 200px;
  }
  .slider-container{
    height: 200px;
  }
  .small-app .sic .slider-item:last-child{
    display: none;
  }
  .small-app .sic .slider-item{
    margin: 0 10px;
    min-width: 295px;
    min-height: 215px;
  }
  .small-app .slider-container{
    height: 215px;
  }
  .videos-content{
    grid-template-columns: repeat(auto-fill, 260px);
  }
  .videos-content .video-container{
    width: 260px;
  }
  .video-container .bg-image{
    height: 165px;
  }
  .small-app .videos-content{
    grid-template-columns: repeat(auto-fill, 225px);
  }
  .small-app .videos-content .video-container{
    width: 225px;
  }
  .small-app .video-container .bg-image{
    height: 155px;
  }
}
@media screen and (max-width: 1500px) {
  .sic .slider-item{
    min-width: 250px;
    margin: 0 5px;
    min-height: 190px;
  }
  .slider-container{
    height: 190px;
  }
  .small-app .sic .slider-item{
    margin: 0 5px;
    min-width: 280px;
    min-height: 210px;
  }
  .small-app .slider-container{
    height: 210px;
  }
  .videos-content{
    grid-template-columns: repeat(auto-fill, 255px);
  }
  .videos-content .video-container{
    width: 255px;
  }
  .video-container .bg-image{
    height: 160px;
  }
  .small-app .videos-content{
    grid-template-columns: repeat(auto-fill, 290px);
  }
  .small-app .videos-content .video-container{
    width: 290px;
  }
  .small-app .video-container .bg-image{
    height: 190px;
  }
}
@media screen and (max-width: 1450px) {
  .sic .slider-item:last-child{
    display:none;
  }
  .sic .slider-item{
    min-width: 325px;
    margin: 0 10px;
    min-height: 235px;
  }
  .slider-container{
    height: 235px;
  }
  .small-app .sic .slider-item{
    margin: 0 5px;
    min-width: 265px;
    min-height: 200px;
  }
  .small-app .slider-container{
    height: 200px;
  }
  .videos-content{
    grid-template-columns: repeat(auto-fill, 245px);
  }
  .videos-content .video-container{
    width: 245px;
  }
  .video-container .bg-image{
    height: 160px;
  }
  .small-app .videos-content{
    grid-template-columns: repeat(auto-fill, 275px);
  }
  .small-app .videos-content .video-container{
    width: 275px;
  }
  .small-app .video-container .bg-image{
    height: 185px;
  }
}
@media screen and (max-width: 1400px) {
  .sic .slider-item{
    margin: 0 10px;
    min-width: 310px;
    min-height: 220px;
  }
  .slider-container{
    height: 220px;
  }
  .small-app .sic .slider-item{
    margin: 0 5px;
    min-width: 250px;
    min-height: 195px;
  }
  .small-app .slider-container{
    height: 195px;
  }
  .videos-content{
    grid-template-columns: repeat(auto-fill, 235px);
  }
  .videos-content .video-container{
    width: 235px;
  }
  .video-container .bg-image{
    height: 165px;
  }
  .small-app .videos-content{
    grid-template-columns: repeat(auto-fill, 260px);
  }
  .small-app .videos-content .video-container{
    width: 260px;
  }
  .small-app .video-container .bg-image{
    height: 175px;
  }
}
@media screen and (max-width: 1350px) {
  .sic .slider-item{
    min-width: 300px;
    margin: 0 5px;
    min-height: 210px;
  }
  .slider-container{
    height: 210px;
  }
  .small-app .sic .slider-item:nth-child(3){
    display: none;
  }
  .small-app .sic .slider-item{
    margin: 0 12px;
    min-width: 345px;
    min-height: 235px;
  }
  .small-app .slider-container{
    height: 235px;
  }
  .videos-content{
    grid-template-columns: repeat(auto-fill, 220px);
  }
  .videos-content .video-container{
    width: 220px;
  }
  .video-container .bg-image{
    height: 150px;
  }
  .small-app .videos-content{
    grid-template-columns: repeat(auto-fill, 245px);
  }
  .small-app .videos-content .video-container{
    width: 245px;
  }
  .small-app .video-container .bg-image{
    height: 160px;
  }
}
@media screen and (max-width: 1300px) {
  .sic .slider-item:nth-child(3){
    display: none;
  }
  .sic .slider-item{
    min-width: 385px;
    margin: 0 15px;
    min-height: 255px;
  }
  .slider-container{
    height: 255px;
  }
  .small-app .sic .slider-item{
    margin: 0 7px;
    min-width: 320px;
    min-height: 220px;
  }
  .small-app .slider-container{
    height: 220px;
  }
  .videos-content{
    grid-template-columns: repeat(auto-fill, 285px);
  }
  .videos-content .video-container{
    width: 285px;
  }
  .video-container .bg-image{
    height: 200px;
  }
  .small-app .videos-content{
    grid-template-columns: repeat(auto-fill, 225px);
  }
  .small-app .videos-content .video-container{
    width: 225px;
  }
  .small-app .video-container .bg-image{
    height: 155px;
  }
}
@media screen and (max-width: 1250px) {
  .sic .slider-item{
    min-width: 375px;
    margin: 0 10px;
    min-height: 255px;
  }
  .slider-container{
    height: 255px;
  }
  .small-app .sic .slider-item{
    margin: 0 5px;
    min-width: 300px;
    min-height: 210px;
  }
  .small-app .slider-container{
    height: 210px;
  }
  .videos-content{
    grid-template-columns: repeat(auto-fill, 270px);
  }
  .videos-content .video-container{
    width: 270px;
  }
  .video-container .bg-image{
    height: 190px;
  }
  .small-app .videos-content{
    grid-template-columns: repeat(auto-fill, 320px);
  }
  .small-app .videos-content .video-container{
    width: 320px;
  }
  .small-app .video-container .bg-image{
    height: 205px;
  }
}
@media screen and (max-width: 1200px) {
  .sic .slider-item{
    min-width: 350px;
    margin: 0 15px;
    min-height: 245px;
  }
  .slider-container{
    height: 240px;
  }
  .small-app .sic .slider-item{
    margin: 0 5px;
    min-width: 280px;
    min-height: 200px;
  }
  .small-app .slider-container{
    height: 220px;
  }
  .videos-content{
    grid-template-columns: repeat(auto-fill, 255px);
  }
  .videos-content .video-container{
    width: 255px;
  }
  .video-container .bg-image{
    height: 175px;
  }
  .small-app .videos-content{
    grid-template-columns: repeat(auto-fill, 300px);
  }
  .small-app .videos-content .video-container{
    width: 300px;
  }
  .small-app .video-container .bg-image{
    height: 185px;
  }
}
@media screen and (max-width: 1150px) {
  .sic .slider-item{
    min-width: 340px;
    margin: 0 10px;
    min-height: 235px;
  }
  .slider-container{
    height: 235px;
  }
  .small-app .sic .slider-item:nth-child(2){
    display: none;
  }
  .small-app .sic .slider-item{
    margin: 0 10px;
    min-width: 430px;
    min-height: 250px;
  }
  .small-app .slider-container{
    height: 250px;
  }
  .videos-content{
    grid-template-columns: repeat(auto-fill, 240px);
  }
  .videos-content .video-container{
    width: 240px;
  }
  .video-container .bg-image{
    height: 170px;
  }
  .small-app .videos-content{
    grid-template-columns: repeat(auto-fill, 280px);
  }
  .small-app .videos-content .video-container{
    width: 280px;
  }
  .small-app .video-container .bg-image{
    height: 170px;
  }
}
@media screen and (max-width: 1100px) {
  .sic .slider-item{
    min-width: 325px;
    margin: 0 5px;
    min-height: 225px;
  }
  .slider-container{
    height: 225px;
  }
  .videos-content{
    grid-template-columns: repeat(auto-fill, 225px);
  }
  .videos-content .video-container{
    width: 225px;
  }
  .video-container .bg-image{
    height: 155px;
  }
}
@media screen and (max-width: 1050px) {
  .sic .slider-item{
    min-width: 300px;
    margin: 0 5px;
    min-height: 220px;
  }
  .slider-container{
    height: 220px;
  }
  .small-app .sic .slider-item{
    margin: 0 10px;
    min-width: 390px;
    min-height: 230px;
  }
  .small-app .slider-container{
    height: 230px;
  }
  .videos-content{
    grid-template-columns: repeat(auto-fill, 310px);
  }
  .videos-content .video-container{
    width: 310px;
  }
  .video-container .bg-image{
    height: 200px;
  }
}
@media screen and (max-width: 1000px) {
  .sic .slider-item{
    min-width: 275px;
    margin: 0 5px;
    min-height: 200px;
  }
  .slider-container{
    height: 200px;
  }
  .small-app .sic .slider-item{
    margin: 0 10px;
    min-width: 380px;
    min-height: 220px;
  }
  .small-app .slider-container{
    height: 220px;
  }
  .videos-content{
    grid-template-columns: repeat(auto-fill, 295px);
  }
  .videos-content .video-container{
    width: 295px;
  }
  .video-container .bg-image{
    height: 185px;
  }
}